# Core
streamlit
pandas
numpy
pyyaml

# Visualization
plotly
folium
streamlit-folium

# Geospaial (lite for Streamlit Cloud)
geopandas

# Machine Learning / Clustering
scikit-learn==1.5.2

# Security
werkzeug

# Database
sqlalchemy

# Utilities
requests
